/* CSS fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: rgb(18, 18, 18);
    color: white;
}

:root {
    --primary-font: 'Orbitron', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

/*Estilização mobile com media queries*/
@media (max-width: 450px){
    .background__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(0.5);
    background-color: black;
}

/* Parte de cima */
.page-wrapper {
    display: flex;
    flex-direction: column;
   

}

.sidebar {
    padding: 2rem;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    
}

.sidebar__profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50%;
    
    
}

.sidebar__title {
    font-family: var(--primary-font);
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1rem;

}

.page-wrapper .sidebar h1 span {
   color: #1E90FF; 
}

.sidebar__social-links img {
    width: 40px;
    height: 40px;
    margin: 1.5rem 2.5rem 3rem 0;
}

.sidebar__social-links img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


/*Parte de baixo*/
.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    z-index: 1;
    width: 100%;
    gap: 3rem;
   
}


.section_aboutMe, .section_skills, .section_projects {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: var(--primary-font);
    font-size: 1.3rem;
    font-optical-sizing: auto;
    margin-bottom: 1rem;
    
}

p {
    text-align: justify;
    font-family: var(--secondary-font);
    font-size: 0.8rem;
    line-height: 1.5;
    color: #D3D3D3;
    white-space: normal;           /* permite quebras automáticas */
    overflow-wrap: anywhere;      /* quebra em qualquer ponto necessário */
    word-break: break-word; 
    hyphens: auto;
}

.section_skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    gap: 1rem;
}

.section_skills ul li img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 1rem;

}

.section_skills ul li img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


.section_projects ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    
}

.section_projects ul li img {
    width: 200px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.section_projects ul h3 {
    font-size: 1rem;
    color: var(--secondary-font);
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: rgb(18, 18, 18);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

}



/*Estilização desktop*/
@media (min-width: 451px){
    .background__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
    filter: brightness(0.5);
    background-color: black;
}

.page-wrapper {
    width: 100%;
    max-width: 1200px; /* ajuste conforme desejar */
    margin: 0 auto;
    gap: 5rem;
    display: flex;

}

/* Lado esquerdo */
.sidebar {
    padding: 2rem;
    flex-direction: column;
    min-height: 100vh;
    width: 30%;
    max-width: 350px; 
    
}

.sidebar__profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 50%;
    
}

.sidebar__title {
    font-family: var(--primary-font);
    font-size: 2.3rem;
    line-height: 1.1;
    margin-bottom: 1rem; 

}

.page-wrapper .sidebar h1 span {
   color: #1E90FF; 
}

.sidebar__social-links img {
    width: 40px;
    height: 40px;
    margin: 1.5rem 2.5rem 3rem 0;
}

.sidebar__social-links img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


/*Lado Esquerdo*/
.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    position: relative;
    z-index: -1;
    width: 70%;
    max-width: 900px; /* Limita a largura máxima */
    gap: 3rem;
    
    
}


.section_aboutMe, .section_skills, .section_projects {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-optical-sizing: auto;
    margin-bottom: 1rem;
}

p {
    
    text-align: justify;
    font-family: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.5;
    color: #D3D3D3;
    white-space: normal;           /* permite quebras automáticas */
    overflow-wrap: anywhere;      /* quebra em qualquer ponto necessário */
    word-break: break-word; 
    hyphens: auto;
}

.section_skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    gap: 1rem;
}

.section_skills ul li img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-right: 1rem;

}

.section_skills ul li img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}


.section_projects ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    
}

.section_projects ul li img {
    width: 700px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.section_projects ul h3 {
    font-size: 1.2rem;
    color: var(--secondary-font);
}



footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(18, 18, 18);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

}




